        
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert {{ message.tags }} alert-dismissible alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert {{ message.tags }} alert-dismissible alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>           
                </div>
            {% endfor %}
        {% endif %}
        