{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta name="referrer" content="no-referrer">
    <link type="text/plain" rel="author" href="https://arnelimperial.com/humans.txt"> 
    <link rel="canonical" href="https://arnelimperial.com" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://arnelimperial.com/">
    <meta property="og:title" content="Arnel Imperial">
    <meta property="og:description" content="Arnel Imperial's internet site.">
    <meta property="og:image" content="">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://arnelimperial.com/">
    <meta property="twitter:title" content="Arnel Imperial">
    <meta property="twitter:description" content="Arnel Imperial's internet site.">
    <meta property="twitter:image" content="">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:300|Play&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/icons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/icons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% if title == "Arnel Imperial | arnelimperial.com" %}
    <meta name="google-site-verification" content="{{ gtag }}">
    <meta name="msvalidate.01" content="74E92EB2E81FCFA7903EA51A0A4E48E7">
    <meta name="yandex-verification" content="f44332b8fafacaf2">
    <meta name="robots" content="noarchive">
    {% else %}
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    {% endif %}
        

   





