{% load static %}
    <script async src="{% static 'js/vendor/modernizr-3.7.1.min.js' %}"></script>
    <script async src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script async>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"><\/script>')</script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script async src="{% static 'js/plugins.min.js' %}"></script>
    <script src="{% static 'vendor-form/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'vendor-form/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main-form.min.js' %}"></script>
    <script src="{% static 'vendor-form/select2/select2.min.js' %}"></script>

