{% extends "pages/base.html" %}
{% load static %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<div class="wrapper">
    <div id="title" class="about-section">
        {{ title }}
    </div>
    
    <div id="content" class="about-section">
        <p class="sub-content">
            
        </p>

        <p class="sub-content">
            
        </p>

        <p class="sub-content">
           
        
        </p>

        <p class="sub-content">
            
        
        </p>

        <p class="sub-content">
           
        
        </p>

        
        
       
    
    </div>

{% include "partials/footer.html" %}
</div>
{% endblock content %}




