{% extends "pages/base.html" %}
{% load static %}

{% block content %}
	<div class="main-section">
		<div class="navs">
			<h1>
				<a href="{% url 'about' %}"><span class="text-red">A</span>rnel <span class="text-red">I</span>mperial</a>
			</h1>
		</div>
		<div class="navs proj">
			<a href="{% url 'insights' %}">insight</a>
		</div>
		<div class="navs proj">
			<a href="{% url 'contact_form' %}">contact</a>
		</div>
	</div>
{% endblock content %}
