
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}
html {
  background-color: #1f1f2e;
}

body{
	font-size: 1em;
	color: #fff;
	font-family: 'Play', sans-serif;
	line-height: 2rem;
	letter-spacing: 1.5px;
	text-shadow: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	opacity: 1;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #FFF;
  margin: 1em 0;
  padding: 0;
  clear: both;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-section{
  margin: auto 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
  
  
.navs{
  /*font-family: "Play","sans serif";*/
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 4rem;
  line-height: 1.5em;
  border-bottom: 2px solid #FFF;
}

.navs h1{
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0;

}
  
.navs a{
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.text-red{
  color: #f44336 !important;
} 



  
/* .container{
  padding-top: 0.01em;
  padding-right: 16px;
  padding-bottom: 0.01em;
  padding-left: 16px;
} */

.wrapper{
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-top: 8rem;
  width: 90%;
}

#title{
  margin-top: 5rem;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2rem;

}

.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

} 

#content{
  margin: 2rem 0;
  line-height: 2em;
  letter-spacing: 2px;
  
}

#content p{
  font-size: 18px;
  line-height: 2.5rem;
  font-family: 'Play', sans-serif;
}

.sub-content{
  margin-bottom: 30px;
}

@media only screen and (min-width: 590px) and (max-width:798px){
  .wrapper{
    width: 89%;

  }
}  

@media (min-width: 800px){
  .wrapper{
    width: 50%;
  }
}


@media only screen and (max-width: 320px){
  .wrapper{
    width: 95%;
  }
}

@media (max-width: 243px){
  .wrapper{
    width: 95%;
  }

  .navs h1, .proj{
    font-size: 31px;
    line-height: 1em;
  }
  .navs{
    margin-bottom: 35px;
  }
}


.social-link{
  text-decoration: none;
  color: #FFF;
  outline: 0;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  font-family: 'M Plus 1p', sans-serif;
}



.bottom-navs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  
}

.bottom-navs p a{
  text-decoration: none;
  outline: 0;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

@media only screen and (max-width: 900px){
  .bottom-navs p{
    font-size: 0.9em !important;
  }
}



.credentials{
  text-decoration: none;
  border-bottom: 1px solid #FFF;
  outline: 0;
  color: #FFF;
}

hr.btm-navs{
  border-top: 2px dotted #FFF; 
  width: 100%;
}

p#info{
  font-size: 14px;
  margin-bottom: 40px;
  font-family: 'Play', sans-serif;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }


  
  a,
  a:visited {
    text-decoration: none;
    outline: 0 !important;

  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

