{% extends "contact_form/base-form.html" %}
{% block title %} Contact Form {% endblock %}
{% load i18n %}
{% block content %}
                <form action="{% url 'contact_form' %}" method="POST" class="contact2-form validate-form" enctype="multipart/form-data" autocomplete="off" novalidate>
                    {% csrf_token %}

                    {% include 'partials/form-validation-messages.html' %}
                    
                    <span class="contact2-form-title">
                        Contact
                    </span>
                    
                    <div class="wrap-input2 validate-input alert-validate" data-validate="Name is required">
                        <input class="input2" type="text" name="name" required>
                        <span class="focus-input2" data-placeholder="NAME"></span>
                        
                        
                    </div>
                    
                    <div class="wrap-input2 validate-input alert-validate" data-validate = "Valid email is required: ex@abc.xyz">
                        {% comment %} {{ form.email|add_class:"input2"}} {% endcomment %}
                        <input class="input2" type="text" name="email" required>
                        <span class="focus-input2" data-placeholder="EMAIL"></span>
                    </div>
                    <div class="wrap-input2 validate-input alert-validate" data-validate = "Message is required">
                        {% comment %} {{ form.body|add_class:"input2"}} {% endcomment %}
                        <textarea class="input2" name="body" required></textarea>
                        <span class="focus-input2" data-placeholder="MESSAGE"></span>
                    </div>

                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>

                            <button class="contact2-form-btn">
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </form>
{% endblock content %}



