{% extends "contact_form/base-form.html" %}
{% block title %} Message Sent {% endblock %}
{% load static %}
{% load i18n %}

{% block content %}

 <span class="contact2-form-title">{{ title }}</span>

<div class="alert alert-success" role="alert">
    <img src="{% static 'img/img-01.png' %}" height="200" alt="Email sent icon"> 
    <h5 class="alert-heading">Thank you! {{name}} | {{email}}</h5>
    <p class="sent-success-heading text-success">Arnel will get in touch with you as soon as possible.</p>
    <p class="sent-success">The contact form automatically sent a copy of your message to your email inbox.</p>
</div>


{% endblock content %}