{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
	{% include "partials/headform.html" %}
	<title>{% block title%}{% endblock%}</title>


</head>

<body>
  <div class="bg-contact2">
		<div class="container-contact2">
			<div class="wrap-contact2">
				{% block content %}{{ name }} {{ email }}{% endblock content %}
			</div>
			{% include "partials/footer.html" %}
		</div>
	</div>
  		{% include "partials/scripts.html" %}
</body>

</html>
