{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  {% include "partials/head.html" %}
</head>
<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <div>
      {% block content %}{% endblock content %}
    </div>
    
    {% include "partials/scripts.html" %}
</body>
</html>
